
body{
	background-color: lightgray;
}
.menu-lateral{
	z-index: 1000;
	position: fixed;
	top:0;
	left:0;
	width: 250px;
	height: 100%;
	background-image: linear-gradient(to top right, #27ae60, #2ecc71);
	border-right: 3px solid rgba(0,0,0,0.1);
}
.perfil{
	margin-top: 20px;
	margin-bottom: 20px;
}
.nome{
	color:white;
	margin-top: 20px;
}
.list-link li a{
	color:white; 
	display:block;
	text-decoration: none !important;
}
.btn-link{
	color: lightgray;
}
.btn-link:hover{
	color:white;
	text-decoration: none; 
}
a{
	color: lightgray;
}
a:hover{
	color:white;
	text-decoration: none; 
}
.list-group-item{
	background-color: transparent;
}
.list-group-item .btn{
	padding: 0;
}
.conteudo{
	position: absolute;
	top:0;
	left:0;
	margin-right: -500px;
	padding: 15px 15px 15px 250px;
	width: 100%;
}
.conteudo .row-conteudo{
	width: 100%;
	margin-right: 0 !important;
	margin-left: 0 !important; 
}
.cb-adm{
	margin-bottom: 20px;
}
.btn-treino{
	margin-left: 10px;
}
.title{
	margin-bottom: 10px;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
.card-equips{
	margin-top: 10px;
	margin-bottom: 10px; 
}
.nav-links{
	margin-top: 20px;
}
.add-cb{
	margin-top: 100px;
}

.add-form input{
	border:none;
    border-bottom: 1px solid #2ecc71;
    border-bottom-right-radius: 1px;
    border-bottom-left-radius: 10px;
    background-color: transparent;
}
.add-form input:active{
    border:none;
    border-top-right-radius: 1px;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    border-bottom-left-radius: 10px;
    background-color:#f5f5f5; 
    box-shadow: none;
}
.add-form input:hover{
    border:none;
    border-bottom-right-radius: 1px;
    border-bottom-left-radius: 10px;
    box-shadow:  1px 1px 10px #2ecc71;
}
.add-form input:focus{
    border-top-right-radius: 1px;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    border-bottom-left-radius: 10px;
    background-color:#f5f5f5;
    box-shadow:  1px 1px 10px #2ecc71;
}
.equip{
	margin-top: 20px;
	margin-bottom: 20px ;
}

.detalhe{
	margin-top: 20px;
}
.equipamento-form{
	margin-top: 20px;
}
.rodape{
	color:white;
}